In [ ]:
# !pip install ipython-sql
# !pip install pyscopg2
# !pip install pgspecial
# ! pip install pandas

In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:1234@localhost:5432/postgres

### CSV 파일 IMPORT
%%sql

DROP TABLE IF EXISTS sale_data;
CREATE TABLE sale_data ( 
  order_id SERIAL,
  date DATE,
  category VARCHAR(50),
  itemcode integer,
  price integer,
  amount integer,
  Primary KEY(order_id)
);

\COPY sale_data FROM 'C:\\Users\\skh95\\workspace\sales.csv' DELIMITER ',' CSV HEADER;

In [4]:
%%sql -- 데이터 확인

SELECT * FROM sale_data LIMIT 10;

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[(0, datetime.date(2019, 1, 1), 'beauty', 200197, 39800, 222836000),
 (1, datetime.date(2019, 1, 1), 'cloth', 200896, 299000, 115831000),
 (2, datetime.date(2019, 1, 1), 'cloth', 201072, 39900, 12033000),
 (3, datetime.date(2019, 1, 1), 'cloth', 201079, 39900, 20663000),
 (4, datetime.date(2019, 1, 1), 'cloth', 201220, 119000, 51795000),
 (5, datetime.date(2019, 1, 1), 'cloth', 201226, 119000, 68135000),
 (6, datetime.date(2019, 1, 1), 'cloth', 202044, 499000, 154715000),
 (7, datetime.date(2019, 1, 1), 'cloth', 202377, 59900, 99736000),
 (8, datetime.date(2019, 1, 1), 'cloth', 202395, 79900, 259678000),
 (9, datetime.date(2019, 1, 1), 'cloth', 202404, 79000, 90973000)]

In [ ]:
%%sql -- 테이블 조작을 위한 임시 shema 생성

CREATE SCHEMA workspace;

In [34]:
%%sql -- itemcode가 같으면 price와 category가 같은지

-- worksapce schema에 저장
SELECT *
INTO    workspace.ICP_uniqueness
FROM    (SELECT * 
FROM (SELECT a.itemcode,a.category,a.price,count(*) OVER (PARTITION BY itemcode) AS cnt
FROM (SELECT DISTINCT itemcode,category,price FROM sale_data)a)b
WHERE cnt>1)c;

SELECT * 
FROM workspace.ICP_uniqueness;

 * postgresql://postgres:***@localhost:5432/postgres
6 rows affected.

[(201403, 'cloth', 39900, 2),
 (201403, 'cloth', 39000, 2),
 (202075, 'food', 73900, 2),
 (202075, 'food', 65900, 2),
 (202076, 'food', 96000, 2),
 (202076, 'food', 99000, 2)]

In [12]:
%%sql -- category로 인한 중복 검사

SELECT *
INTO    workspace.IC_uniqueness
FROM
(SELECT * 
FROM
(SELECT a.itemcode,a.category,count(*) over(partition by itemcode) as cnt
FROM
(SELECT itemcode,category from workspace.ICP_uniqueness group by 1,2)a)b
where b.cnt>1)c;

SELECT *
FROM    workspace.IC_uniqueness;

 * postgresql://postgres:***@localhost:5432/postgres
0 rows affected.
0 rows affected.

[]

In [13]:
%%sql -- price로 인한 중복 검사

SELECT *
INTO    workspace.IP_uniqueness
FROM
(SELECT * 
FROM
(SELECT a.itemcode,a.price,count(*) over(partition by itemcode) as cnt
FROM
(SELECT itemcode,price from workspace.ICP_uniqueness group by 1,2)a)b
where b.cnt>1)c;

SELECT *
FROM    workspace.IP_uniqueness;

 * postgresql://postgres:***@localhost:5432/postgres
6 rows affected.
6 rows affected.

[(201403, 39000, 2),
 (201403, 39900, 2),
 (202075, 73900, 2),
 (202075, 65900, 2),
 (202076, 99000, 2),
 (202076, 96000, 2)]

In [27]:
%%sql -- itemcode가 같은데 가격이 다르면 높은 가격으로 설정

SELECT *
INTO workspace.sale_data
FROM
(SELECT order_id, date, category, itemcode, 
CASE 
    WHEN itemcode in (SELECT DISTINCT itemcode FROM workspace.IP_uniqueness) THEN max(price) over(partition by itemcode)
    ELSE price
END price, 
amount 
FROM sale_data)a;

 * postgresql://postgres:***@localhost:5432/postgres
12738 rows affected.

[]

In [29]:
%%sql -- workspace.sale_data 중복성 검사

SELECT * 
FROM (SELECT a.itemcode,a.category,a.price,count(*) OVER (PARTITION BY itemcode) AS cnt
FROM (SELECT itemcode,category,price FROM workspace.sale_data group by 1,2,3)a)b
WHERE cnt>1

 * postgresql://postgres:***@localhost:5432/postgres
0 rows affected.

[]

In [30]:
%%sql -- cleansing 된 데이터를 저장하는 곳

CREATE SCHEMA cleanTable;

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [31]:
%%sql -- cleanTable에 저장

SELECT * INTO cleanTable.sale_data FROM workspace.sale_data;

 * postgresql://postgres:***@localhost:5432/postgres
12738 rows affected.

[]

In [33]:
%%sql -- workspace schema 삭제 및 확인

DROP SCHEMA workspace CASCADE;
\dn

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [39]:
%%sql

SELECT * FROM cleantable.sale_data LIMIT 10;

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[(8583, datetime.date(2019, 8, 30), 'beauty', 200000, 79900, 28951000),
 (8472, datetime.date(2019, 8, 26), 'beauty', 200000, 79900, 47611000),
 (988, datetime.date(2019, 2, 1), 'kitchen', 200001, 99000, 64274000),
 (787, datetime.date(2019, 1, 25), 'kitchen', 200001, 99000, 87062000),
 (11895, datetime.date(2019, 12, 6), 'food', 200002, 49900, 126137000),
 (10745, datetime.date(2019, 11, 1), 'food', 200002, 49900, 103206000),
 (10906, datetime.date(2019, 11, 6), 'food', 200002, 49900, 108299000),
 (10651, datetime.date(2019, 10, 29), 'food', 200002, 49900, 128483000),
 (12146, datetime.date(2019, 12, 13), 'food', 200002, 49900, 105122000),
 (11002, datetime.date(2019, 11, 8), 'stuff', 200008, 49800, 78376000)]

In [62]:
%%sql -- 상품정보 테이블 생성

CREATE TABLE cleantable.order_data
AS
SELECT order_id,itemcode,category,price
FROM cleantable.sale_data
group by 1,2,3 order by 1,2;

 * postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) 오류:  "item_data" 이름의 릴레이션(relation)이 이미 있습니다

[SQL: CREATE TABLE cleantable.item_data
AS
SELECT order_id,date,itemcode,amount
FROM cleantable.sale_data
 order by 1;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql -- primary key 추가

ALTER TABLE cleantable.item_data ADD CONSTRAINT itemcode PRIMARY KEY (itemcode);

In [63]:
%%sql -- 주문정보 테이블 생성

CREATE TABLE cleantable.order_data
AS
SELECT order_id,date,itemcode,amount
FROM cleantable.sale_data
 order by 1;

 * postgresql://postgres:***@localhost:5432/postgres
12738 rows affected.

[]

In [93]:
%%sql

SHOW search_path; -- 현재 스키마 확인
SET search_path TO cleantable; -- cleantable로 스키마 변경

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
Done.

[]

In [110]:
%%sql

SET search_path TO cleantable;

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [111]:
%%sql -- 현재 스키마에 포함된 테이블

\dt

 * postgresql://postgres:***@localhost:5432/postgres
3 rows affected.

[('cleantable', 'item_data', 'table', 'postgres'),
 ('cleantable', 'order_data', 'table', 'postgres'),
 ('cleantable', 'sale_data', 'table', 'postgres')]

In [79]:
%%sql -- LEFT JOIN을 이용해 원상복구

SELECT order_id,date,order_data.itemcode,category,price,amount 
FROM order_data 
LEFT JOIN item_data 
ON order_data.itemcode=item_data.itemcode;

 * postgresql://postgres:***@localhost:5432/postgres
12738 rows affected.

[(0, datetime.date(2019, 1, 1), 200197, 'beauty', 39800, 222836000),
 (1, datetime.date(2019, 1, 1), 200896, 'cloth', 299000, 115831000),
 (2, datetime.date(2019, 1, 1), 201072, 'cloth', 39900, 12033000),
 (3, datetime.date(2019, 1, 1), 201079, 'cloth', 39900, 20663000),
 (4, datetime.date(2019, 1, 1), 201220, 'cloth', 119000, 51795000),
 (5, datetime.date(2019, 1, 1), 201226, 'cloth', 119000, 68135000),
 (6, datetime.date(2019, 1, 1), 202044, 'cloth', 499000, 154715000),
 (7, datetime.date(2019, 1, 1), 202377, 'cloth', 59900, 99736000),
 (8, datetime.date(2019, 1, 1), 202395, 'cloth', 79900, 259678000),
 (9, datetime.date(2019, 1, 1), 202404, 'cloth', 79000, 90973000),
 (10, datetime.date(2019, 1, 1), 201350, 'food', 39900, 246455000),
 (11, datetime.date(2019, 1, 1), 201479, 'food', 49900, 176244000),
 (12, datetime.date(2019, 1, 1), 201497, 'food', 60900, 86177000),
 (13, datetime.date(2019, 1, 1), 202512, 'food', 61000, 83893000),
 (14, datetime.date(2019, 1, 1), 200465, 'home_appliance', 489000, 123876000),
 (15, datetime.date(2019, 1, 1), 200533, 'home_appliance', 439000, 160698000),
 (16, datetime.date(2019, 1, 1), 200236, 'kitchen', 60900, 192141000),
 (17, datetime.date(2019, 1, 1), 200970, 'underwear', 109000, 111546000),
 (18, datetime.date(2019, 1, 1), 200974, 'underwear', 59000, 47878000),
 (19, datetime.date(2019, 1, 1), 201892, 'underwear', 119000, 190579000),
 (20, datetime.date(2019, 1, 1), 201999, 'underwear', 69900, 74360000),
 (21, datetime.date(2019, 1, 1), 202108, 'underwear', 89900, 122537000),
 (22, datetime.date(2019, 1, 2), 200896, 'cloth', 299000, 96155000),
 (23, datetime.date(2019, 1, 2), 201225, 'cloth', 69900, 34528000),
 (24, datetime.date(2019, 1, 2), 201231, 'cloth', 69900, 25577000),
 (25, datetime.date(2019, 1, 2), 201409, 'cloth', 39900, 74098000),
 (26, datetime.date(2019, 1, 2), 200800, 'daily_supplies', 29800, 35241000),
 (27, datetime.date(2019, 1, 2), 200864, 'food', 30900, 155211000),
 (28, datetime.date(2019, 1, 2), 201483, 'food', 59900, 128485000),
 (29, datetime.date(2019, 1, 2), 202112, 'food', 30900, 27619000),
 (30, datetime.date(2019, 1, 2), 202113, 'food', 30900, 47845000),
 (31, datetime.date(2019, 1, 2), 202365, 'food', 59900, 130196000),
 (32, datetime.date(2019, 1, 2), 202491, 'food', 32900, 112947000),
 (33, datetime.date(2019, 1, 2), 201002, 'health', 69000, 70951000),
 (34, datetime.date(2019, 1, 2), 200432, 'home_appliance', 1440000, 10524000),
 (35, datetime.date(2019, 1, 2), 200441, 'home_appliance', 2130000, 30986000),
 (36, datetime.date(2019, 1, 2), 200451, 'home_appliance', 2990000, 14523000),
 (37, datetime.date(2019, 1, 2), 200487, 'home_appliance', 1549000, 47841000),
 (38, datetime.date(2019, 1, 2), 200499, 'home_appliance', 1300000, 12659000),
 (39, datetime.date(2019, 1, 2), 200508, 'home_appliance', 1900000, 82649000),
 (40, datetime.date(2019, 1, 2), 200518, 'home_appliance', 2700000, 0),
 (41, datetime.date(2019, 1, 2), 200554, 'home_appliance', 1409000, 61526000),
 (42, datetime.date(2019, 1, 2), 200819, 'kitchen', 89800, 101053000),
 (43, datetime.date(2019, 1, 2), 202093, 'kitchen', 168000, 40950000),
 (44, datetime.date(2019, 1, 2), 202095, 'kitchen', 158000, 10137000),
 (45, datetime.date(2019, 1, 2), 202098, 'kitchen', 158000, 78940000),
 (46, datetime.date(2019, 1, 2), 202100, 'kitchen', 148000, 24550000),
 (47, datetime.date(2019, 1, 2), 202229, 'kitchen', 218000, 18480000),
 (48, datetime.date(2019, 1, 2), 202230, 'kitchen', 238000, 53370000),
 (49, datetime.date(2019, 1, 2), 202237, 'kitchen', 208000, 11583000),
 (50, datetime.date(2019, 1, 2), 202238, 'kitchen', 228000, 41430000),
 (51, datetime.date(2019, 1, 2), 200652, 'underwear', 69900, 43858000),
 (52, datetime.date(2019, 1, 2), 200970, 'underwear', 109000, 85256000),
 (53, datetime.date(2019, 1, 2), 200974, 'underwear', 59000, 67533000),
 (54, datetime.date(2019, 1, 2), 201862, 'underwear', 89000, 6026000),
 (55, datetime.date(2019, 1, 2), 201880, 'underwear', 89000, 9321000),
 (56, datetime.date(2019, 1, 2), 201901, 'underwear', 89000, 112405000),
 (57, datetime.date(2019, 1, 2), 202004, 'underwear', 79900, 106570000),
 (58, datetime.date(2019, 1, 3), 200197, 'beauty', 39800, 116724000),
 (59, datetime.date(2019, 1, 3), 202261, 'beauty', 79000, 76661000),
 (60, datetime.date(2019, 1, 3), 201072, 'cloth', 39900, 17810000),
 (61, datetime.date(2019, 1, 3), 201079, 'cloth', 39900, 34570000),
 (62, datetime.date(2019, 1, 3), 201225, 'cloth', 69900, 39733000),
 (63, datetime.date(2019, 1, 3), 201231, 'cloth', 69900, 39929000),
 (64, datetime.date(2019, 1, 3), 202404, 'cloth', 79000, 84789000),
 (65, datetime.date(2019, 1, 3), 201514, 'daily_supplies', 189000, 232596000),
 (66, datetime.date(2019, 1, 3), 201497, 'food', 60900, 76649000),
 (67, datetime.date(2019, 1, 3), 201788, 'food', 39900, 82616000),
 (68, datetime.date(2019, 1, 3), 202074, 'food', 40900, 148904000),
 (69, datetime.date(2019, 1, 3), 202444, 'food', 59900, 134221000),
 (70, datetime.date(2019, 1, 3), 201002, 'health', 69000, 88529000),
 (71, datetime.date(2019, 1, 3), 200432, 'home_appliance', 1440000, 31423000),
 (72, datetime.date(2019, 1, 3), 200441, 'home_appliance', 2130000, 46380000),
 (73, datetime.date(2019, 1, 3), 200451, 'home_appliance', 2990000, 7299000),
 (74, datetime.date(2019, 1, 3), 200499, 'home_appliance', 1300000, 25217000),
 (75, datetime.date(2019, 1, 3), 200508, 'home_appliance', 1900000, 45919000),
 (76, datetime.date(2019, 1, 3), 200518, 'home_appliance', 2700000, 19738000),
 (77, datetime.date(2019, 1, 3), 200868, 'kitchen', 109800, 119902000),
 (78, datetime.date(2019, 1, 3), 202455, 'kitchen', 218000, 61373000),
 (79, datetime.date(2019, 1, 3), 202456, 'kitchen', 208000, 13447000),
 (80, datetime.date(2019, 1, 3), 202457, 'kitchen', 198000, 14227000),
 (81, datetime.date(2019, 1, 3), 202458, 'kitchen', 208000, 59276000),
 (82, datetime.date(2019, 1, 3), 201840, 'stuff', 39000, 73259000),
 (83, datetime.date(2019, 1, 3), 202285, 'stuff', 49800, 12681000),
 (84, datetime.date(2019, 1, 3), 202292, 'stuff', 39800, 17104000),
 (85, datetime.date(2019, 1, 3), 200970, 'underwear', 109000, 102903000),
 (86, datetime.date(2019, 1, 3), 201860, 'underwear', 89000, 71433000),
 (87, datetime.date(2019, 1, 3), 201861, 'underwear', 89000, 13897000),
 (88, datetime.date(2019, 1, 3), 201865, 'underwear', 89000, 10129000),
 (89, datetime.date(2019, 1, 3), 201894, 'underwear', 59000, 55443000),
 (90, datetime.date(2019, 1, 3), 202108, 'underwear', 89900, 87262000),
 (91, datetime.date(2019, 1, 4), 200197, 'beauty', 39800, 161417000),
 (92, datetime.date(2019, 1, 4), 200896, 'cloth', 299000, 79745000),
 (93, datetime.date(2019, 1, 4), 201225, 'cloth', 69900, 55851000),
 (94, datetime.date(2019, 1, 4), 201231, 'cloth', 69900, 46295000),
 (95, datetime.date(2019, 1, 4), 202044, 'cloth', 499000, 57383000),
 (96, datetime.date(2019, 1, 4), 200789, 'daily_supplies', 49800, 67545000),
 (97, datetime.date(2019, 1, 4), 200800, 'daily_supplies', 29800, 48878000),
 (98, datetime.date(2019, 1, 4), 201019, 'daily_supplies', 49800, 10166000),
 (99, datetime.date(2019, 1, 4), 200670, 'food', 50900, 122899000),
 (100, datetime.date(2019, 1, 4), 200864, 'food', 30900, 125512000),
 (101, datetime.date(2019, 1, 4), 201483, 'food', 59900, 140992000),
 (102, datetime.date(2019, 1, 4), 202491, 'food', 32900, 115409000),
 (103, datetime.date(2019, 1, 4), 201972, 'health', 74900, 71174000),
 (104, datetime.date(2019, 1, 4), 200465, 'home_appliance', 489000, 82568000),
 (105, datetime.date(2019, 1, 4), 200533, 'home_appliance', 439000, 86664000),
 (106, datetime.date(2019, 1, 4), 200819, 'kitchen', 89800, 111035000),
 (107, datetime.date(2019, 1, 4), 200868, 'kitchen', 109800, 92222000),
 (108, datetime.date(2019, 1, 4), 202229, 'kitchen', 218000, 14922000),
 (109, datetime.date(2019, 1, 4), 202230, 'kitchen', 238000, 43257000),
 (110, datetime.date(2019, 1, 4), 202237, 'kitchen', 208000, 5534000),
 (111, datetime.date(2019, 1, 4), 202238, 'kitchen', 228000, 27402000),
 (112, datetime.date(2019, 1, 4), 202455, 'kitchen', 218000, 59016000),
 (113, datetime.date(2019, 1, 4), 202456, 'kitchen', 208000, 11186000),
 (114, datetime.date(2019, 1, 4), 202457, 'kitchen', 198000, 14937000),
 (115, datetime.date(2019, 1, 4), 202458, 'kitchen', 208000, 49659000),
 (116, datetime.date(2019, 1, 4), 200970, 'underwear', 109000, 85009000),
 (117, datetime.date(2019, 1, 4), 200974, 'underwear', 59000, 87263000),
 (118, datetime.date(2019, 1, 4), 202004, 'underwear', 79900, 112617000),
 (119, datetime.date(2019, 1, 4), 202101, 'underwear', 89900, 62837000),
 (120, datetime.date(2019, 1, 5), 200756, 'beauty', 49900, 58478000),
 (121, datetime.date(2019, 1, 5), 200883, 'beauty', 50900, 35108000),
 (122, datetime.date(2019, 1, 5), 200773, 'cloth', 79000, 30218000),
 (123, datetime.date(2019, 1, 5), 200774, 'cloth', 79000, 19209000),
 (124, datetime.date(2019, 1, 5), 200842, 'cloth', 69000, 70159000),
 (125, datetime.date(2019, 1, 5), 200855, 'cloth', 69000, 23214000),
 (126, datetime.date(2019, 1, 5), 202216, 'cloth', 39900, 118333000),
 (127, datetime.date(2019, 1, 5), 202377, 'cloth', 59900, 153801000),
 (128, datetime.date(2019, 1, 5), 202404, 'cloth', 79000, 81471000),
 (129, datetime.date(2019, 1, 5), 201350, 'food', 39900, 233851000),
 (130, datetime.date(2019, 1, 5), 202365, 'food', 59900, 76992000),
 (131, datetime.date(2019, 1, 5), 202512, 'food', 61000, 178901000),
 (132, datetime.date(2019, 1, 5), 200432, 'home_appliance', 1440000, 34888000),
 (133, datetime.date(2019, 1, 5), 200441, 'home_appliance', 2130000, 87642000),
 (134, datetime.date(2019, 1, 5), 200451, 'home_appliance', 2990000, 21822000),
 (135, datetime.date(2019, 1, 5), 200465, 'home_appliance', 489000, 76541000),
 (136, datetime.date(2019, 1, 5), 200499, 'home_appliance', 1300000, 28295000),
 (137, datetime.date(2019, 1, 5), 200508, 'home_appliance', 1900000, 78042000),
 (138, datetime.date(2019, 1, 5), 200518, 'home_appliance', 2700000, 19689000),
 (139, datetime.date(2019, 1, 5), 200533, 'home_appliance', 439000, 68255000),
 (140, datetime.date(2019, 1, 5), 200236, 'kitchen', 60900, 173551000),
 (141, datetime.date(2019, 1, 5), 200819, 'kitchen', 89800, 155117000),
 (142, datetime.date(2019, 1, 5), 202093, 'kitchen', 168000, 48644000),
 (143, datetime.date(2019, 1, 5), 202095, 'kitchen', 158000, 13426000),
 (144, datetime.date(2019, 1, 5), 202098, 'kitchen', 158000, 87694000),
 (145, datetime.date(2019, 1, 5), 202100, 'kitchen', 148000, 31393000),
 (146, datetime.date(2019, 1, 5), 200949, 'stuff', 139000, 30913000),
 (147, datetime.date(2019, 1, 5), 200952, 'stuff', 129000, 65816000),
 (148, datetime.date(2019, 1, 5), 200970, 'underwear', 109000, 94162000),
 (149, datetime.date(2019, 1, 5), 200988, 'underwear', 59000, 131746000),
 (150, datetime.date(2019, 1, 5), 201860, 'underwear', 89000, 70892000),
 (151, datetime.date(2019, 1, 5), 201861, 'underwear', 89000, 11951000),
 (152, datetime.date(2019, 1, 5), 201865, 'underwear', 89000, 7168000),
 (153, datetime.date(2019, 1, 5), 201892, 'underwear', 119000, 171008000),
 (154, datetime.date(2019, 1, 6), 200197, 'beauty', 39800, 296989000),
 (155, datetime.date(2019, 1, 6), 200881, 'beauty', 39900, 69034000),
 (156, datetime.date(2019, 1, 6), 200896, 'cloth', 299000, 112751000),
 (157, datetime.date(2019, 1, 6), 201059, 'cloth', 39900, 127460000),
 (158, datetime.date(2019, 1, 6), 202044, 'cloth', 499000, 129417000),
 (159, datetime.date(2019, 1, 6), 202404, 'cloth', 79000, 73127000),
 (160, datetime.date(2019, 1, 6), 201514, 'daily_supplies', 189000, 199477000),
 (161, datetime.date(2019, 1, 6), 200670, 'food', 50900, 190234000),
 (162, datetime.date(2019, 1, 6), 201343, 'food', 43900, 55476000),
 (163, datetime.date(2019, 1, 6), 201479, 'food', 49900, 226973000),
 (164, datetime.date(2019, 1, 6), 201981, 'health', 89000, 43768000),
 (165, datetime.date(2019, 1, 6), 200465, 'home_appliance', 489000, 66822000),
 (166, datetime.date(2019, 1, 6), 200533, 'home_appliance', 439000, 90913000),
 (167, datetime.date(2019, 1, 6), 202093, 'kitchen', 168000, 35515000),
 (168, datetime.date(2019, 1, 6), 202095, 'kitchen', 158000, 14060000),
 (169, datetime.date(2019, 1, 6), 202098, 'kitchen', 158000, 77749000),
 (170, datetime.date(2019, 1, 6), 202100, 'kitchen', 148000, 29667000),
 (171, datetime.date(2019, 1, 6), 202455, 'kitchen', 218000, 79173000),
 (172, datetime.date(2019, 1, 6), 202456, 'kitchen', 208000, 16410000),
 (173, datetime.date(2019, 1, 6), 202457, 'kitchen', 198000, 14227000),
 (174, datetime.date(2019, 1, 6), 202458, 'kitchen', 208000, 60014000),
 (175, datetime.date(2019, 1, 6), 200974, 'underwear', 59000, 107504000),
 (176, datetime.date(2019, 1, 6), 200988, 'underwear', 59000, 140001000),
 (177, datetime.date(2019, 1, 6), 201860, 'underwear', 89000, 84623000),
 (178, datetime.date(2019, 1, 6), 201861, 'underwear', 89000, 14507000),
 (179, datetime.date(2019, 1, 6), 201865, 'underwear', 89000, 10160000),
 (180, datetime.date(2019, 1, 6), 202004, 'underwear', 79900, 80990000),
 (181, datetime.date(2019, 1, 6), 202108, 'underwear', 89900, 128563000),
 (182, datetime.date(2019, 1, 7), 200197, 'beauty', 39800, 85181000),
 (183, datetime.date(2019, 1, 7), 202261, 'beauty', 79000, 55315000),
 (184, datetime.date(2019, 1, 7), 200771, 'cloth', 49000, 13874000),
 (185, datetime.date(2019, 1, 7), 200772, 'cloth', 49000, 14515000),
 (186, datetime.date(2019, 1, 7), 200896, 'cloth', 299000, 97413000),
 (187, datetime.date(2019, 1, 7), 202404, 'cloth', 79000, 39998000),
 (188, datetime.date(2019, 1, 7), 201346, 'daily_supplies', 138000, 83659000),
 (189, datetime.date(2019, 1, 7), 201514, 'daily_supplies', 189000, 158668000),
 (190, datetime.date(2019, 1, 7), 200670, 'food', 50900, 103179000),
 (191, datetime.date(2019, 1, 7), 200864, 'food', 30900, 132025000),
 (192, datetime.date(2019, 1, 7), 201350, 'food', 39900, 202243000),
 (193, datetime.date(2019, 1, 7), 202512, 'food', 61000, 134923000),
 (194, datetime.date(2019, 1, 7), 200465, 'home_appliance', 489000, 90671000),
 (195, datetime.date(2019, 1, 7), 200533, 'home_appliance', 439000, 96577000),
 (196, datetime.date(2019, 1, 7), 200236, 'kitchen', 60900, 126381000),
 (197, datetime.date(2019, 1, 7), 200868, 'kitchen', 109800, 104065000),
 (198, datetime.date(2019, 1, 7), 202229, 'kitchen', 218000, 17822000),
 (199, datetime.date(2019, 1, 7), 202230, 'kitchen', 238000, 40935000),
 (200, datetime.date(2019, 1, 7), 202237, 'kitchen', 208000, 16941000),
 (201, datetime.date(2019, 1, 7), 202238, 'kitchen', 228000, 28104000),
 (202, datetime.date(2019, 1, 7), 202455, 'kitchen', 218000, 46647000),
 (203, datetime.date(2019, 1, 7), 202456, 'kitchen', 208000, 15686000),
 (204, datetime.date(2019, 1, 7), 202457, 'kitchen', 198000, 14923000),
 (205, datetime.date(2019, 1, 7), 202458, 'kitchen', 208000, 40810000),
 (206, datetime.date(2019, 1, 7), 200650, 'underwear', 39000, 23043000),
 (207, datetime.date(2019, 1, 7), 200970, 'underwear', 109000, 55597000),
 (208, datetime.date(2019, 1, 7), 201862, 'underwear', 89000, 5720000),
 (209, datetime.date(2019, 1, 7), 201880, 'underwear', 89000, 7251000),
 (210, datetime.date(2019, 1, 7), 201901, 'underwear', 89000, 94747000),
 (211, datetime.date(2019, 1, 7), 202108, 'underwear', 89900, 100098000),
 (212, datetime.date(2019, 1, 8), 200883, 'beauty', 50900, 30450000),
 (213, datetime.date(2019, 1, 8), 202261, 'beauty', 79000, 77593000),
 (214, datetime.date(2019, 1, 8), 200842, 'cloth', 69000, 51587000),
 (215, datetime.date(2019, 1, 8), 200855, 'cloth', 69000, 22376000),
 (216, datetime.date(2019, 1, 8), 202044, 'cloth', 499000, 87668000),
 (217, datetime.date(2019, 1, 8), 202216, 'cloth', 39900, 45527000),
 (218, datetime.date(2019, 1, 8), 201479, 'food', 49900, 215465000),
 (219, datetime.date(2019, 1, 8), 201788, 'food', 39900, 108120000),
 (220, datetime.date(2019, 1, 8), 202365, 'food', 59900, 113015000),
 (221, datetime.date(2019, 1, 8), 202444, 'food', 59900, 117340000),
 (222, datetime.date(2019, 1, 8), 202491, 'food', 32900, 108199000),
 (223, datetime.date(2019, 1, 8), 202512, 'food', 61000, 132913000),
 (224, datetime.date(2019, 1, 8), 200432, 'home_appliance', 1440000, 27957000),
 (225, datetime.date(2019, 1, 8), 200441, 'home_appliance', 2130000, 67035000),
 (226, datetime.date(2019, 1, 8), 200451, 'home_appliance', 2990000, 14548000),
 (227, datetime.date(2019, 1, 8), 200499, 'home_appliance', 1300000, 6354000),
 (228, datetime.date(2019, 1, 8), 200508, 'home_appliance', 1900000, 78067000),
 (229, datetime.date(2019, 1, 8), 200518, 'home_appliance', 2700000, 13093000),
 (230, datetime.date(2019, 1, 8), 200819, 'kitchen', 89800, 134611000),
 (231, datetime.date(2019, 1, 8), 202093, 'kitchen', 168000, 28451000),
 (232, datetime.date(2019, 1, 8), 202095, 'kitchen', 158000, 8461000),
 (233, datetime.date(2019, 1, 8), 202098, 'kitchen', 158000, 68159000),
 (234, datetime.date(2019, 1, 8), 202100, 'kitchen', 148000, 21897000),
 (235, datetime.date(2019, 1, 8), 202455, 'kitchen', 218000, 59804000),
 (236, datetime.date(2019, 1, 8), 202456, 'kitchen', 208000, 16410000),
 (237, datetime.date(2019, 1, 8), 202457, 'kitchen', 198000, 17041000),
 (238, datetime.date(2019, 1, 8), 202458, 'kitchen', 208000, 56313000),
 (239, datetime.date(2019, 1, 8), 200988, 'underwear', 59000, 102850000),
 (240, datetime.date(2019, 1, 8), 201860, 'underwear', 89000, 74475000),
 (241, datetime.date(2019, 1, 8), 201861, 'underwear', 89000, 11546000),
 (242, datetime.date(2019, 1, 8), 201865, 'underwear', 89000, 7917000),
 (243, datetime.date(2019, 1, 8), 201894, 'underwear', 59000, 47243000),
 (244, datetime.date(2019, 1, 8), 202004, 'underwear', 79900, 94711000),
 (245, datetime.date(2019, 1, 8), 202281, 'underwear', 79900, 63618000),
 (246, datetime.date(2019, 1, 9), 202261, 'beauty', 79000, 90972000),
 (247, datetime.date(2019, 1, 9), 200896, 'cloth', 299000, 59236000),
 (248, datetime.date(2019, 1, 9), 201059, 'cloth', 39900, 78037000),
 (249, datetime.date(2019, 1, 9), 202377, 'cloth', 59900, 128484000),
 (250, datetime.date(2019, 1, 9), 202404, 'cloth', 79000, 29368000),
 (251, datetime.date(2019, 1, 9), 201514, 'daily_supplies', 189000, 166109000),
 (252, datetime.date(2019, 1, 9), 200864, 'food', 30900, 122270000),
 (253, datetime.date(2019, 1, 9), 201483, 'food', 59900, 149686000),
 (254, datetime.date(2019, 1, 9), 202171, 'food', 59900, 91804000),
 (255, datetime.date(2019, 1, 9), 202491, 'food', 32900, 109771000),
 (256, datetime.date(2019, 1, 9), 202512, 'food', 61000, 145623000),
 (257, datetime.date(2019, 1, 9), 201002, 'health', 69000, 61274000),
 (258, datetime.date(2019, 1, 9), 200465, 'home_appliance', 489000, 70050000),
 (259, datetime.date(2019, 1, 9), 200533, 'home_appliance', 439000, 81066000),
 (260, datetime.date(2019, 1, 9), 200235, 'kitchen', 50900, 108154000),
 (261, datetime.date(2019, 1, 9), 200868, 'kitchen', 109800, 108760000),
 (262, datetime.date(2019, 1, 9), 202093, 'kitchen', 168000, 26146000),
 (263, datetime.date(2019, 1, 9), 202095, 'kitchen', 158000, 10136000),
 (264, datetime.date(2019, 1, 9), 202098, 'kitchen', 158000, 59362000),
 (265, datetime.date(2019, 1, 9), 202100, 'kitchen', 148000, 20836000),
 (266, datetime.date(2019, 1, 9), 202229, 'kitchen', 218000, 9308000),
 (267, datetime.date(2019, 1, 9), 202230, 'kitchen', 238000, 37129000),
 (268, datetime.date(2019, 1, 9), 202237, 'kitchen', 208000, 9531000),
 (269, datetime.date(2019, 1, 9), 202238, 'kitchen', 228000, 25980000),
 (270, datetime.date(2019, 1, 9), 200949, 'stuff', 139000, 19855000),
 (271, datetime.date(2019, 1, 9), 200952, 'stuff', 129000, 30011000),
 (272, datetime.date(2019, 1, 9), 200650, 'underwear', 39000, 57947000),
 (273, datetime.date(2019, 1, 9), 202108, 'underwear', 89900, 125483000),
 (274, datetime.date(2019, 1, 10), 200197, 'beauty', 39800, 118018000),
 (275, datetime.date(2019, 1, 10), 201059, 'cloth', 39900, 70015000),
 (276, datetime.date(2019, 1, 10), 202044, 'cloth', 499000, 121508000),

In [116]:
%%sql

SELECT 0 + NULL, 0 - NULL, 0 * NULL, 0/NULL

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(None, None, None, None)]

In [121]:
%%sql

SELECT 
    CURRENT_TIMESTAMP,
    TIMEZONE('America/Los_Angeles', CURRENT_TIMESTAMP);

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(datetime.datetime(2023, 3, 21, 20, 1, 42, 438756, tzinfo=datetime.timezone(datetime.timedelta(seconds=32400))), datetime.datetime(2023, 3, 21, 4, 1, 42, 438756))]

In [122]:
%%sql

SELECT 1/2, 1/2::float;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(0, 0.5)]

In [125]:
# pandas와 연동 가능
result = %sql SELECT * FROM cleantable.item_data
df = result.DataFrame()

 * postgresql://postgres:***@localhost:5432/postgres
2042 rows affected.

In [126]:
df.head()

   itemcode category  price
0    200000   beauty  79900
1    200001  kitchen  99000
2    200002     food  49900
3    200008    stuff  49800
4    200009    stuff  49800