## INSERT SQL을 autocommit=False

In [1]:
import psycopg2

def get_connection(autocommit):
    host="localhost"
    user="postgres"
    password="1234"
    port=5432
    dbname="postgres"
    conn = psycopg2.connect("dbname={dbname} user={user} host={host} password={password} port={port}".format(
    dbname=dbname,
    user=user,
    host=host,
    password=password,
    port=port))
    conn.set_session(autocommit=autocommit)
    return conn

In [2]:
conn = get_connection(False)
cur = conn.cursor()

In [3]:
cur.execute("SELECT * FROM name_gender;")
res = cur.fetchall()
for r in res:
    print(r)

('Ben', 'MALE')
('Maddie', 'FEMALE')

In [26]:
cur.execute("DELETE FROM name_gender;")
cur.execute("SELECT * FROM name_gender;")
res = cur.fetchall()
for r in res:
    print(r)

In [33]:
cur.execute("INSERT INTO name_gender VALUES ('Gyeonghwan','MALE');")
cur.execute("SELECT * FROM name_gender;")
res = cur.fetchall()
for r in res:
    print(r)

('Gyeonghwan', 'MALE')

In [34]:
conn.commit()

In [32]:
conn.rollback()

In [35]:
conn.close()

## INSERT SQL 을 autocommit=False로 실행하고 psycopg2로 컨트롤하기

In [40]:
conn = get_connection(False)
cur = conn.cursor()

try: 
    # cur.execute("DELETE FROM name_gender;")
    cur.execute("INSERT INTO name_gender VALUES ('Gyeonghwan','MALE');")
    conn.commit()
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
    conn.rollback()
finally:
    conn.close()

## INSERT SQL 을 autocommit=True로 실행하고 psycopg2로 컨트롤하기

In [42]:
conn = get_connection(True)
cur = conn.cursor()

In [48]:
cur.execute("BEGIN;")
cur.execute("DELETE FROM name_gender;")
cur.execute("INSERT INTO name_gender VALUES ('TRUE','MALE');")
cur.execute("END;")

## 잘못된 SQL을 중간에 실행해보기

In [49]:
cur.execute("BEGIN;")
cur.execute("DELETE FROM name_gender;")
cur.execute("INSERT INTO name_gender2 VALUES ('TRUE','MALE');")

UndefinedTable: 오류:  "name_gender2" 이름의 릴레이션(relation)이 없습니다
LINE 1: INSERT INTO name_gender2 VALUES ('TRUE','MALE');
                    ^

In [50]:
cur.execute("END;")